<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authors</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Authors</th>
        </tr>
        <tr>
          <th>id</th>
          <th>firstName</th>
          <th>lastName</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="author : ${authors}">
          <td th:text="${author.id}">0</td>
          <td th:text="${author.firstName}">firstName</td>
          <td th:text="${author.lastName}">lastName</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
